{% extends "base.html" %}
{% block title %}{% endblock %}
{% load staticfiles %}
{% block content %}
<form method="post" action=".">
    <div class="form-group"> 
        {% csrf_token %} {% if form.errors %}
        <div class="alert-warning">아래 입력내용을 다시 확인하세요.</div>
        {% endif %}
        <h2>회원가입</h2>
        <p>이름과 비밀번호를 입력하세요.</p>
        <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password1.label_tag }} {{ form.password1 }}
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div>
            <input type="submit" value="회원가입" />
        </div>
    </div>
</form>
{% endblock %} {% block javascript %}
<script>
        (function (){
            var elem = document.querySelectorAll('input');
            for (var i = 1; i < elem.length; i++){
                elem[i].classList.add('form-control');
            }
        })();
        
        $("#id_username").change(function () {
         var username = $(this).val();
 
        $.ajax({
            url: '{% url "validate_username" %}',
            data: {
                'username': username
            },
             dataType: 'json',
             success: function (data) {
                if (data.is_taken) {
                    alert(data.error_message);
                }
            }
        });
    });
</script>
{% endblock %}