{% extends "base.html" %}
{% block title %}{% endblock %}
{% load staticfiles %}
{% block content %}
<form method="post" action=".">
    <div class="form-group"> 
        {% csrf_token %} {% if form.errors %}
        <div class="alert-warning">아래 입력내용을 다시 확인하세요.</div>
        {% endif %}
        <p>이름과 비밀번호를 입력하세요.</p>
        <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div>
            <input type="submit" value="회원가입" />
        </div>
    </div>
</form>
<script>
        (function (){
            var elem = document.querySelectorAll('input');
            for (var i = 1; i < elem.length; i++){
                elem[i].classList.add('form-control');
            }
        })();
</script>
{% endblock %}