{% extends 'board/base_board.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="btn-group">
    <a href="{% url 'board:post_edit' pk=post.pk %}" class="btn btn-primary">수정</a>
    <a href="{% url 'board:index' %}" class="btn btn-primary">목록</a>
    <a href="{% url 'board:post_remove' pk=post.pk %}" class="btn btn-primary">삭제</a>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">{{post.title}}</div>
    <div class="panel-body">{{post.text|linebreaksbr}}</div>
</div>
{% endblock %}