
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}장고 게시판{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    {% block sub_style %}{% endblock %}
</head>

<body>
    
    <div class="container">
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}">PORTPOLIO HOMEPAGE</a></div>
                    <ul class="nav navbar-nav">
                        {% if user.is_active %}
                        <li><a href="">{% firstof user.get_short_name user.get_username %}님 입장.</a></li>
                        <li>
                            <a href="{% url 'password_change' %}">비밀번호 변경</a>
                        </li>
                        {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'admin:index' %}">관리자</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}">로그아웃</a>
                        </li>
                        {% else %}
                        <li><a href="">환영합니다.</a></li>
                        <li>
                            <a href="{% url 'login' %}">로그인</a>
                        </li>
                        <li>
                                <a href="{% url 'register' %}">회원가입</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'board:index' %}">게시판</a>
                        </li>
                        <li>
                            <a href="{% url 'board:script' %}">미니게임</a>
                        </li>
                        <li>
                            <a href="{% url 'board:resume' %}">소개</a>
                        </li>
                    </ul>
            </div>
        </nav>
        
        {% block content %}{% endblock %}
        <br><br>
        {% block footer %}
        <div>&copy; 2017. (이름) All rights reserved.</div>{% endblock %}
            {% block javascript %}{% endblock %}
    </div>
</body>

</html>