{% extends "base.html" %}
{% block title %}홈{% endblock %}
{% load staticfiles %}
<!-- {% block sub_style %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}  -->
{% block extra_style %}{% static "css/home.css" %}{% endblock %}
{% block content %}
    <div class="container" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel" > 
	
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <div class="carousel-inner">
                <div class="item active"> 
                    <img src="../static/image/wallpaper1.jpg" style="width:100%" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:white">Jungle</h1>
                            <p>텍스트 1</p>
                        </div>
                    </div>
                </div>

                <div class="item"> 
                    <img src="../static/image/wallpaper2.jpg" style="width:100%" data-src="" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:white">Desert</h1>
                            <p>텍스트 2</p>
                        </div>
                    </div>
                </div>

                <div class="item"> 
                    <img src="../static/image/wallpaper3.jpg" style="width:100%" data-src="" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:white">Mountain</h1>
                            <p>텍스트 3</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
        </div>
        <p>Ver 1.0 홈페이지 제작 완료</p>
        <p>Ver 1.1 Bootstrap 적용 완료</p>
        <p>Ver 1.2 게시판 제작 완료</p>
        <p>Ver 1.3 게시판 검색기능 및 파일 업로드 기능 추가 완료</p>
        <p>Ver 1.4 미니게임 추가 완료</p>
    </div>
{% endblock %}